.form {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.input {
  min-width: 300px;
  padding: 5px 10px;

  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
}
.input:not(:first-child) {
  margin-left: 10px;
}
.btn {
  margin-left: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
}
