.form {
  box-sizing: border-box;
  margin-top: 20px;
  padding: 10px;
  width: 400px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.button {
  display: inline-block;
  padding: 3px;
  margin-top: 10px;
  min-width: 100px;
  border: none;
  background-color: rgba(71, 71, 247, 0.61);
  border-radius: 5px;

  cursor: pointer;
}
