.nav_bar {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 0px #ccc;

  background-color: #fff;

  font-size: 20px;
  font-weight: 600;
}

.nav_item {
  text-decoration: none;
  color: rgb(37, 36, 36);
}
.nav_item:hover {
  color: #ccc;
}
.nav_item:not(:first-child) {
  margin-left: 15px;
}

.user_menu {
  display: flex;
  align-items: center;
}

.logOutBtn {
  display: flex;
  margin-left: 10px;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
}
