/* home page */
.btn_box {
  margin-top: 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  min-width: 150px;
}

.link:not(:first-child) {
  margin-top: 25px;
}
/* login/register page */
.form {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  min-width: 300px;
  padding: 5px 10px;

  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
}
.input:not(:first-child) {
  margin-top: 20px;
}

.notification--error {
  color: #bf1650;
}
.notification--error::before {
  content: '⚠ ';
}

.btn_user {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 5px 10px;
  color: #fff;
  font-size: 22px;
}
.icon {
  margin-left: 3px;
}
/* contacts */
.contactsPage {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 10px;
  font-size: 50px;
  color: rgb(37, 36, 36);
  text-shadow: 2px 2px #ccc;
}
